@if (ads.productsResource.isLoading()) {

<div class="loading-spinner">
  <div class="spinner"></div>
</div>
} @else if (ads.productsResource.error()) {
<div class="error-message">Error loading ads.</div>
} @else {
<section class="hero-section">
  <swiper-container #heroSwiper init="false" class="hero-swiper">
    @for (slide of ads.cleanAds(); track slide._id) {
    <swiper-slide>
      <div class="media-bg">
        <img [src]="urlImage() + slide.image" alt="Hero Bg" class="bg-img ken-burns" />

        <div class="overlay"></div>
      </div>
      @if (slide.title) {
      <div class="container content-wrapper">
        <div class="content glass-card">
          <span class="subtitle slide-in-top">{{ slide.title }}</span>
          <h1 class="title slide-in-left">{{ slide.subTitle }}</h1>
          <p class="desc fade-in">{{ slide.description ? slide.description : slide.category }}</p>
          <a [href]="slide.url" class="btn-hero bounce-in">{{ slide.button }}</a>
        </div>
      </div>
      }
    </swiper-slide>
    }
  </swiper-container>

  <div class="hero-controls">
    <button class="hero-prev">❮</button>
    <div class="hero-pagination"></div>
    <button class="hero-next">❯</button>
  </div>

  <div class="autoplay-progress">
    <div class="bar" [style.width.%]="progressWidth()"></div>
  </div>
</section>
}
