<div class="summary-container">
  
  <div class="products-list">
    @for (item of cartService.cartItems(); track item.product._id) {
        <div class="product-row">
        
        <div class="img-wrapper">
          <div class="aspect-ratio-box">
            <img [src]="URL_IMG + item.product.images[0].src " alt="Product" />
          </div>
          <span class="qty-badge">{{ item.quantity }}</span>
        </div>

        <div class="prod-info">
          <p class="name">{{ item.product.title }}</p>
          <p class="variant">{{ item.variety }}</p>
        </div>

        <div class="price">
          S/ {{ item.total  }}
        </div>
      </div>
    }
  </div>
  
  <div class="divider"></div>

  <div class="discount-section">
    <div class="input-group">
      <input 
        type="text" 
        id="promo" 
        placeholder="Tarjeta de regalo o código" 
        #couponInput
        (keyup)="couponCode.set(couponInput.value)"
      >
      <label for="promo" class="visually-hidden">Código de descuento</label>
    </div>
    
    <button 
      class="btn-apply" 
      [disabled]="!couponCode() || isApplyingCoupon()"
      (click)="applyCoupon(couponInput.value)">
      @if (isApplyingCoupon()) {
        <div class="spinner"></div>
      } @else {
        Usar
      }
    </button>
  </div>

  <div class="divider"></div>

  <div class="pricing-rows">
    <div class="row">
      <span>Subtotal</span>
      <span class="value">{{ cartService.cartTotal() | currency : cartService.Currency.currency }}</span>
    </div>

    <div class="row">
      <span>Envío</span>
      <div class="value">
        @if (shippingCost() === null) {
          <span class="hint">Calculado en el siguiente paso</span>
        } 
        @else if (shippingCost() === 0) {
          <span class="free-badge">GRATIS</span>
        } 
        @else {
          S/ {{ shippingCost() | number:'1.2-2' }}
        }
      </div>
    </div>

    @if (discount() > 0) {
      <div class="row discount">
        <span>Descuento</span>
        <span class="value">- S/ {{ discount()   }}</span>
      </div>
    }
  </div>

  <div class="divider"></div>

  <div class="row total">
    <span class="label">Total</span>
    <div class="amount-wrapper">
      <!-- <span class="currency">PEN</span> -->
      <span class="amount">{{  checkoutService.orderTotal()| currency : cartService.Currency.currency  }}</span>
    </div>
  </div>

</div>