<nav class="breadcrumbs-nav" aria-label="Breadcrumb">
  <ol class="breadcrumbs-list">
    @for (item of items(); track $index; let last = $last) {
    <li class="breadcrumb-item">
      @if (!last) {
      <a [routerLink]="item.url" [queryParams]="item.queryParams" class="breadcrumb-link">
        {{ item.label }}
      </a>
      <span class="separator">/</span>
      } @else {
      <span class="current-page" [title]="item.label">
        {{ item.label }}
      </span>
      }
    </li>
    }
  </ol>
</nav>
