/* You can add global styles to this file, and also import other style files */
/* styles.scss */
:root {
  --primary: #ec241d;       /* Azul moderno (o tu color de marca) */
  --primary-dark: #1e40af;
  --text-main: #1f2937;     /* Gris muy oscuro, mejor que negro puro */
  --text-light: #6b7280;    /* Gris suave para detalles */
  --bg-body: #f3f4f6;       /* Fondo gris muy claro para resaltar tarjetas */
  --bg-white: #ffffff;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  --font-family: 'Inter', system-ui, sans-serif; /* Tipografía limpia */
  --header-height: 70px;
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  //
  --error: #ef4444;
  --font-family: 'Inter', system-ui, sans-serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: var(--font-family);
  background-color: var(--bg-body);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar moderno */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #b8b7b7;  border-radius: 4px; }
::-webkit-scrollbar-thumb { background: #db1212; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #eb1c1c; }

button { cursor: pointer; border: none; font-family: inherit; }
a { text-decoration: none; color: inherit; }
ul { list-style: none; }


/* ESTILOS GLOBALES DE BOTONES CHECKOUT */
/* Agrega esto al inicio de tu SCSS global */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Outfit:wght@400;600;700&display=swap');
.btn-checkout-primary {
  background: #1f2937; /* Tu color primario (Dark) */
  color: white;
  border: none;
  padding: 18px 32px;
  border-radius: 8px; /* var(--radius) si es global */
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out; /* La animación suave */

  @media(min-width: 640px) { width: auto; }

  /* HOVER (Solo si está habilitado) */
  &:not(:disabled):hover {
    background: #000000;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  /* DISABLED (La magia visual) */
  &:disabled {
    background-color: #9ca3af; /* Gris neutro */
    opacity: 0.5;              /* Semitransparente */
    cursor: not-allowed;       /* Icono prohibido */
    transform: none;
    box-shadow: none;
  }
}
.link-back {
    display: flex; align-items: center; gap: 6px;
    color: var(--accent);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
    
    &:hover { background: #eff6ff; }
  }

 /* El link de "Volver" también debería verse desactivado si se está procesando */
  .link-back.disabled {
    pointer-events: none; /* Evita clics */
    opacity: 0.4;         /* Muy transparente */
    cursor: default;
  }